{% extends "../store/main.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    <a class="btn btn-link" href="{% url 'account_login' %}">Already have an account?</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}